body{
    z-index: -999;
}
.justify-content-between{
    overflow: hidden;
    .col-4{
        padding: 0;
        h3{
            margin-left: 10rem;
        }
        
    }
    .icon{
        margin-right: 1.2rem;
        width: 1.5rem;
        height: 1.5rem;
    }
}
.katalog-makanan{
    background-color: $bg-color;
    height: 55rem;
    position: relative;
    // z-index: -2;
    overflow: hidden;
    .container{
        .row{
                .card{p,h5{
                    margin-bottom: 5px;
                }
                    width: 20rem;
                    padding-top:-100px !important;
                    background-color: rgba(255,255,255) !important;
                    box-shadow: $shadow;
                }
        }
    }
    .ilustrasi-desk{
        .img-mid{
            position: absolute;
            top:13rem;
            left:15rem;
            z-index: -1;
        }
        .img-left{
            position: absolute;
            top:34rem;
            left:7rem;
            z-index: -1;
        }
        .img-right{
            position: absolute;
            top:40.3rem;
            left:80rem;
            z-index: -1;
        }
    }
    .ilustrasi-mob{
        display: none;
    }
}


.number{
    a{
        color: black;
        text-decoration: none;
        margin-left: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        
    }
    img{
        margin-right: 0 !important;
        width: 100px;
        height: 100px;
    }
}
.katalog-material{
    // background-color: $bg-color; 
    height: 65rem;
    width: 100vw;
    position: relative;
    // z-index: -1;
    overflow: hidden;
    .container{
        .row{
                .card{
                    h5{
                        margin-bottom: 5px;
                    }
                    p{
                        margin-bottom: 5px;
                    }
                    width: 20rem;
                    height: 20rem;
                    box-shadow: $shadow;
                }
        }
        .desc{
            background-color: white;
            height: 300px;
            width: 500px;
            overflow-y: auto;
        }
    }
    
    .ilustrasi-mob{
        display: none;
    }
}
.ilustrasi-desk-material{
    width: 100vw;
    height: 65rem;
    position: absolute;
    top: 7.5rem;
    left: 0;
    background-color: $bg-color;
    overflow: hidden;
    z-index: -1;
    .img-mid{
        position: absolute;
        top:14rem;
        left:9rem;
        z-index: -1;
    }
    .img-left{
        position: absolute;
        top:49.7rem;
        left:6rem;
        z-index: -1;
    }
    .img-right{
        position: absolute;
        top:48rem;
        left:60rem;
        z-index: -1;
    }
}
