#latar-belakang{
    background-color: $bg-color;
    padding-top: 1rem;
    overflow: hidden;
    position: relative;
    padding-bottom: 3rem;
    text-align: center;
    h3{
        text-align: center;
        margin: 0;
    }
    .row{
        .col-10{
            p{
                margin-top: 2rem;
                text-align: center;
                font-size: 1.1rem;
            }
        }
    }
}
.img-left{
    margin-left: -5.5rem;
    margin-top: -1rem;
}
.img-right{
    margin-top: -1rem;
    margin-left: -3rem;
}
.icon{
    margin-right: 1.2rem;
    width: 3rem;
    height: 3rem;
}
.ilustrasi-mob{
    display: none;
}
